body {
  background-color: #3c3c3c;
  color: beige;
  text-align: center;
  margin: 20vh;
  font-size: 2rem;
}

#icon {
  color: white;
  background-color: grey;
}

p {
  color: white;
  background-color: grey;
  border-radius: 10px;
  margin: 2vh 20%;
}

.completed {
    text-decoration: line-through;
    color: greenyellow;
  }
